## Generic files to ignore ##
*~
*.lock
*.DS_Store
*.swp
*.out
*/bin


## Operating System Specific ##

# Windows stuff
*Thumbs.db
*Desktop.ini

# Mac OSX stuff
*.DS_Store


## Java specific ##

# Package Files #
*.jar
*.war
*.ear

# Maven #
*/target/

# Others #
*.class


## IDE Specific ##

# Eclipse
*.classpath
*.project
*.jardesc
*.settings/

# Intellij
*.idea/
*.eml
*.iml
*.iws

# Netbeans
*nbproject/
